<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head th:replace="index :: first"></head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Students and Courses Registration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/add">Add a Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">List Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addstudent">Add a Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/liststudent">List Students</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/addcoursewithform">Select Your Courses</a>
            </li>-->
        </ul>
    </div>
</nav>

<h1> This is my add Course html page </h1>

<form action="#" th:action="@{/save}" th:object="${aCourse}" method="post">

    <input type="hidden" th:field="*{id}"/><br/>

    Course Number: <input type="text" th:field="*{courseNumber}"/><br/>
    Course Name: <input type="text" th:field="*{courseName}"/><br/>
    Student:<select th:field="*{oneStudent}">
    <option th:each="eachStudent:${studentslist}"
            th:value="${eachStudent.id}"
            th:text="${eachStudent.firstName}"></option>
</select>


<!--    <input type="text" th:field="*{oneStudent}"/><br/>-->
    <input type="submit" value="Submit"/>



</form>

</body>
</html>