<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <head th:replace="index :: first"></head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Students and Courses Registration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/add">Add a Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">List Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addstudent">Add a Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/liststudent">List Students</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/addcoursewithform">Select Your Courses</a>
            </li> -->
        </ul>
    </div>
</nav>
<h1>This is my list Student page</h1>
<div th:each="student : ${studentslist}">
  <p th:inline="text">Student Number: [[${student.studentNumber}]]</p>
    <p th:inline="text">Student First Name: [[${student.firstName}]]</p>
    <p th:inline="text">Student Last Name: [[${student.lastName}]]</p>
    <p th:inline="text">Student Phone Number: [[${student.phoneNumber}]]</p>
    <p th:inline="text">Student Address: [[${student.address}]]</p>
    <!--created these last two lines below to display courses in the liststudent.htmlpage
    //myCourses comes from Set name in your Student object class-->
    <div th:each="eachcourse: ${student.myCourses}">
        <p th:inline="text">Course Name: [[${eachcourse.courseName}]]</p>
    </div>

    <span><a th:href="@{/updatestudent/{id}(id=${student.id})}">Update</a></span>

    <!--create a view to see which students associated with which course -->
    <!-- list all the courses a student is taking -->
    <!-- you are on the right page... now create a list within a list -->


    <!--
   <div th:each="eachDirector:${directorlist}">
        <!--List the director's full name-->
        <!--
        <p th:text="${eachDirector.fullName}"></p>
        <!--List all the movies the director has directed-->
       <!-- <div th:each="eachMovie: ${eachDirector.myMovies}">
            <p th:text="${eachMovie.title}"></p>
            <p th:text="${eachMovie.year}"></p>
            <p th:text="${eachMovie.description}"></p>
            <span><a th:href="@{/update/{id}(id=${eachDirector.id})}">Edit</a></span>
        </div>
    </div>
</body>
</html> -->
    </div>
</div>
</body>
</html>